=haml :form, locals: { idea: idea }

%h3 Existing Ideas

%ul
  - ideas.each do |idea|
    %li
      Id:
      =idea.id
      Title:
      =idea.title
      %br
      Description:
      =idea.description
      %br
      Rank:
      =idea.rank
      %br
      Tags:
      =idea.tags
      %br
      Group:
      =idea.group
      %br
      Created At:
      =idea.created_at
      %br
      Updated At:
      =idea.updated_at
      %br
      Revision Number:
      =idea.revision
      %br

      %form{ :action => "/#{idea.id}/like", :method => 'POST', :style => "display: inline"}
        %input{:type => 'submit', :value => '+'}

      %form{:action => "/#{idea.id}/edit", :method => "GET", :style => "display: inline"}
        %input{:type => "submit", :value => "Edit"}

      %form{:action => "/#{idea.id}", :method => "POST", :style => "display: inline"}
        %input{:type => "hidden", :name => "_method", :value => "DELETE"}
        %input{:type => "submit", :value => "Delete"}

    %br