/ div class="large-12 columns" 

/   div class="idea_image"
/     img src="http://placehold.it/500x500&amp;text=Logo" style="align:middle;"

/   div class="hide-for-small panel" 
/     h3 Header 
/     h5 class="subheader" Risus ligula, aliquam nec fermentum vitae, sollicitudin eget urna. Donec dignissim nibh fermentum odio ornare sagittis.
    

/   a href="#" 
/   div class="panel callout radius" 
/     h6 99&amp;nbsp; items in your cart

/ div class="large-1 columns" 
