%h3 Idea: #{idea.title}

%p
Id:
=idea.id
%br
Title:
=idea.title
%br
Rank:
=idea.rank
%br
Tags:
-idea.all_my_tags.each do |tag|
  %a{ href: "/all/#{tag}/", title: "#{tag}" } #{tag},
%br
Group:
=idea.group
%br
Created At:
=idea.created_at
%br
Updated At:
=idea.updated_at
%br
Revision Number:
=idea.revision
%br
Description:
=idea.description
%br